body {
    font-family: 'Poppins', sans-serif;
    overflow-x:hidden; !important;
    background-color: #212121;
    color: white
    }

.modal-content {
   background-color: #212121
}

/* Off canvas */

.main-content {
    padding-top: 40px;
}

.his-fav-menu .sidebar-btn {
    position: fixed;
    right:30px;
    padding-right:20px;
    z-index: 2;
}

.his-fav-menu .sidebar-btn .open-btn {
    font-size: 30px;
    color: #ffffff;
    justify-content: right;
}

.offcanvas-menu {
    position: fixed;
    z-index: 2;
    top: 5px;
    right: 0px;
    background: #212121;
    width: 350px;
    display: flex;
    align-items: center;
    transform: translatex(100%);
    transition: all .4s ease;
    border-radius: 20px 0 0 20px;
    box-shadow: 5px 5px 10px #000000;
}

.offcanvas-menu.active {
    transform: translateX(0);
}

.close-btn {
    position: absolute;
    top: 5px;
    left: 15px;
    font-size: 30px;
    color: #fff;
}

#hideMe {
    -moz-animation: cssAnimation 0s ease-in 5s forwards;
    /* Firefox */
    -webkit-animation: cssAnimation 0s ease-in 5s forwards;
    /* Safari and Chrome */
    -o-animation: cssAnimation 0s ease-in 5s forwards;
    /* Opera */
    animation: cssAnimation 0s ease-in 5s forwards;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
}

@keyframes cssAnimation {
    to {
        width:0;
        height:0;
        overflow:hidden;
    }
}

@-webkit-keyframes cssAnimation {
    to {
        width:0;
        height:0;
        visibility:hidden;
    }
}

::-webkit-scrollbar {
    width: 0px;
    background: transparent; /* make scrollbar transparent */
}